---
import Layout from "../layouts/Layout.astro";

// Import images for different screen sizes
import lg_image1 from "../assets/desktop/image-grid-1.jpg";
import md_image1 from "../assets/tablet/image-grid-1.jpg";
import sm_image1 from "../assets/mobile/image-grid-1.jpg";

import lg_image2 from "../assets/desktop/image-grid-2.jpg";
import md_image2 from "../assets/tablet/image-grid-2.jpg";
import sm_image2 from "../assets/mobile/image-grid-2.jpg";

import lg_image3 from "../assets/desktop/image-grid-3.jpg";
import md_image3 from "../assets/tablet/image-grid-3.jpg";
import sm_image3 from "../assets/mobile/image-grid-3@2x.jpg";
---

<Layout>
  <section class="content">
    <div class="bento-layout">
      <div class="card card--1">
        <picture>
          <source
            media="(min-width: 1110px)"
            srcset={`${lg_image1.src} 1x, ${lg_image1.src.replace(".jpg", "@2x.jpg")} 2x`}
          />
          <source
            media="(min-width: 768px)"
            srcset={`${md_image1.src} 1x, ${md_image1.src.replace(".jpg", "@2x.jpg")} 2x`}
          />
          <img
            src={sm_image1.src}
            srcset={`${sm_image1.src} 1x, ${sm_image1.src.replace(".jpg", "@2x.jpg")} 2x`}
            alt="Image 1"
          />
        </picture>
      </div>
      <div class="card card--2">
        <h3>Your Day at the Gallery</h3>
        <p>
          Wander through our distinct collections and find new insights about our artists. Dive into
          the details of their creative process.
        </p>
      </div>
      <div class="card card--3">
        <picture>
          <source
            media="(min-width: 1110px)"
            srcset={`${lg_image2.src} 1x, ${lg_image2.src.replace(".jpg", "@2x.jpg")} 2x`}
          />
          <source
            media="(min-width: 768px)"
            srcset={`${md_image2.src} 1x, ${md_image2.src.replace(".jpg", "@2x.jpg")} 2x`}
          />
          <img
            src={sm_image2.src}
            srcset={`${sm_image2.src} 1x, ${sm_image2.src.replace(".jpg", "@2x.jpg")} 2x`}
            alt="Image 2"
          />
        </picture>
      </div>
      <div class="card card--4">
        <picture>
          <source
            media="(min-width: 1110px)"
            srcset={`${lg_image3.src} 1x, ${lg_image3.src.replace(".jpg", "@2x.jpg")} 2x`}
          />
          <source
            media="(min-width: 768px)"
            srcset={`${md_image3.src} 1x, ${md_image3.src.replace(".jpg", "@2x.jpg")} 2x`}
          />
          <img
            src={sm_image3.src.replace("@2x", "")}
            srcset={`${sm_image3.src.replace("@2x", "")} 1x, ${sm_image3.src} 2x`}
            alt="Image 3"
          />
        </picture>
      </div>
      <div class="card card--5">
        <h3>Come &amp; be inspired</h3>
        <p>
          We're excited to welcome you to our gallery and see how our collections influence you.
        </p>
      </div>
    </div>
  </section>
</Layout>

<style lang="scss">
  @use "../styles/mixins" as mix;
  @use "../styles/global" as *;

  .bento-layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    grid-template-areas:
      "card--1"
      "card--2"
      "card--3"
      "card--4"
      "card--5";

    @media ($mq-md) {
      --col-width: 280px;
      grid-template-columns: var(--col-width) 1fr 1fr var(--col-width);

      grid-template-areas:
        "card--2 card--1 card--1 card--1"
        "card--3 card--3 card--3 card--4"
        "card--3 card--3 card--3 card--5";
    }

    @media ($mq-md) {
      --col-width: 445px;
    }
  }

  .card {
    overflow: clip;

    img {
      max-width: 100%;
      width: 100%;
    }

    &--1 {
      grid-area: card--1;
    }

    &--2,
    &--5 {
      grid-area: card--2;
      display: grid;
      place-content: center;
    }

    &--3 {
      grid-area: card--3;
    }

    &--4 {
      grid-area: card--4;
    }

    &--5 {
      grid-area: card--5;
      background-color: black;
      color: white;
      padding: clamp(2rem, 5vw, 4rem) clamp(2rem, 5vw, 4rem);
    }
  }
</style>
